@page "/RegistroPrioridad"
@page "/RegistroP/{PrioridadId:int}"

@inject PrioridadesBLL prioridadesBLL

<EditForm model = "Prioridades" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class ="container">
        <div class="card shadow-lg">
            <div class="card-header">
                <h3>Registro de prioridades.</h3>
            </div>
            <div class=card-body>

                <div class= "col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-4">
                    <label>OcupacionId:</label>
                    <div class="input-group mb-3">
                        <InputNumber @bind-Value ="prioridades.PrioridadId" class="form-control" aria-describedby="BotonBuscar"/>
                        <button @onclick="Buscar" class="btn btn-outline-primary" type="button" id="BotonBuscar"><i class ="oi oi-magnifying-glass"/></button>
                    </div>
                </div>
                
                <div class="mb-3">
                    <label class="form-label" for="Descripcion">Descripción:</label>
                    <InputText @bind-Value="prioridades.Descripcion" class="form-control" />
                    <ValidationMessage For="@(() => prioridades.Descripcion)" />
                </div>

                <div class="mb-3">
                    <label class="form-label" for="DiasCompromiso">Dias compromiso:</label>
                    <InputNumber @bind-Value="prioridades.DiasCompromiso" class="form-control"/>
                    <ValidationMessage For="@(() => prioridades.DiasCompromiso)" />
                </div>


            </div>
            <div class="card-footer d-flex justify-content-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-primary" @onclick="Nuevo">Nuevo <i class="oi oi-file"/></button>
                    <button type="submit" class="btn btn-outline-success">Guardar <i class="oi oi-document"/></button>
                    <button type="button" class="btn btn-outline-danger"@onclick="Eliminar">Eliminar <i class="oi oi-trash"/></button>
                </div>
            </div>
        </div>
    </div>


</EditForm>
<label>@mensaje</label>

@code
{
    [Parameter]

    public int PrioridadId { get; set; }

    public Prioridades prioridades { get; set; } = new Prioridades();

    public string mensaje = string.Empty;

    protected override void OnInitialized()
    {
        if(PrioridadId > 0)
        {
            prioridades.PrioridadId = PrioridadId;
            Buscar();
        }
    }

    public void Buscar()
    {
        var prioridadEncontrada = prioridadesBLL.Buscar(prioridades.PrioridadId);

        if(prioridadEncontrada != null)
        {
            this.prioridades = prioridadEncontrada;
        }
        else
        {
            mensaje = "no se ha encontrado esa prioridad";
        }
    }

    public void Guardar()
    {
        if(Validar())
        {
             
            if(prioridadesBLL.Guardar(this.prioridades))
            {
                mensaje= "Se ha guardado con exito";
                Nuevo();
            }
            else
            {
                mensaje = "Error al momento de guardar, intentelo de nuevo";
            }
        }
        else
        {
            mensaje = "Por favor rellene los campos";
        }
    }

    public bool Validar()
    {
        return prioridades.Descripcion != null && prioridades.DiasCompromiso > 0;
    }

    public void Nuevo()
    {
        this.prioridades = new Prioridades();
        mensaje = string.Empty;
    }

    public void Eliminar()
    {
        if(prioridadesBLL.Eliminar(this.prioridades))
        {
            mensaje="Se ha eliminado correctamente";
            Nuevo();
        }
        else
        {
            mensaje="Error al eliminar, intentelo de nuevo";
        }
    }
}

